h3{
    color: grey;
}

.header1{
    position:relative;
}
.headertxt1{
    position: absolute;
    top: 40%;
    left: 5%;
}

.header-img-class{
    text-align: right;
    background-color: #005aa3;
}

.orderbtn{
    background-color: rgb(46, 178, 17);
    border: none;
    color: white;
    text-align: center;
}
